@if (exercices) {
<h2>Listes des exercices</h2>
@for (exercice of exercices; track exercice.id) {
<app-card-full
  [title]="exercice.title"
  [subtitle]="exercice.description"
  [buttonText]="'Voir l’exercice'"
  [onButtonClick]="onCardButtonClick(exercice.id)"
>
  @if (!exercice.nextReviewDate) {
  <span date-review>
    <i class="material-icons">schedule</i>
    Commencer l'exercice
  </span>

  } @else{
  <span date-review>
    Prochaine révision :
    {{ exercice.nextReviewDate | date : "d MMMM yyyy, à HH:mm" }}
  </span>

  }
</app-card-full>
} }
