@use "@angular/material" as mat;
.sidenav-container {
  height: 100vh;
  background-color: white;
}

.sidenav {
  border-right: 1px solid #00000018;
  border-radius: 0;
  background-color: #fcfcfc;
  max-width: 270px;
}

mat-drawer-content {
  padding: 0px 50px 0px 50px;
}
