.courses-container {
  margin-bottom: 20px;

  mat-card {
    background-color: inherit;
  }

  .card-courses {
    padding: 20px 30px 20px 30px;
  }

  .card-courses-header {
    mat-card-header {
      padding: 0;
      margin-bottom: 20px;

      mat-card-title {
        font-weight: 600;
      }
      mat-card-subtitle {
        font-weight: 400;
        font-style: italic;
      }
    }
  }

  .progress-bar-courses {
    display: flex;
    align-items: center;
    gap: 30px;
  }

  .progress-bar-courses-content {
    p {
      margin: 0;
    }
  }

  .card-courses-infos-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
  }

  .card-courses-button {
    button {
      border-radius: 10px;
    }
  }
}
