@if (courses) {
<div class="courses-header">
  <div class="courses-header-title">
    <h2>Mes Cours</h2>
    <p>Gérez vos cours et suivez votre progression</p>
  </div>
  <div class="courses-header-new">
    <a mat-flat-button routerLink="create">+ Nouveau Cours</a>
  </div>
</div>

<div class="courses-header-cards">
  <mat-card appearance="outlined">
    <mat-card-content>
      <mat-card-title
        ><h3>{{ courses.length }}</h3></mat-card-title
      >
      <mat-card-subtitle><p>Cours Actifs</p></mat-card-subtitle>
    </mat-card-content>
  </mat-card>
</div>
<!-- //Pour chaqye cours, afficher le titre, la description et un bouton pour voir le cours -->

@for (course of courses; track course.id) {
<app-card-full
  [title]="course.title"
  [subtitle]="course.description"
  [theme]="course.themes"
  buttonText="Voir le cours"
  [onButtonClick]="onCardButtonClick(course.id)"
>
</app-card-full>
} }
